.about
    .banner
    main
        
        .about_description
            padding-top: $spacing-lg
            padding-left: $spacing-md
            padding-right: $spacing-md
        .contact_info
            display: flex
            flex-direction: column
            flex-wrap: wrap
            justify-content: space-around
            .contact,
            .location
                flex-grow: 1
                flex-basis: 0

        .contact
            display: flex
            flex-direction: column
            .contact_content
                display: flex

                h5

                    text-align: left
                    // padding-bottom: $spacing-sm
                ul
                    display: flex
                    flex-direction: row
                    flex-grow: 1
                    // gap: $spacing-sm
                    li
                        gap: $spacing-md
                        padding-bottom: $spacing-sm
                        padding-right: 5rem

                        // margin-bottom: 10px 
                        .contact_link
                            text-decoration: none
                            color: inherit
                 

                            &:hover
                                color: $ca-blue-600
                                text-decoration: underline
                                cursor: pointer

    .location
        display: flex
        flex-direction: column

        .location_title
            display: flex
            align-items: center

        .location_icon
            width: 2rem
            height: auto
            padding-right: $spacing-xsm

        .location_info
        .location_map
            width: 100%
            height: 400px
            border-radius: 12px
            overflow: hidden
            box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.18)

            iframe
                width: 100%
                height: 100%
                border: 0

    .contact_content
        .icon
            width: 2rem
            height: auto
            padding-right: $spacing-xsm
    .location
        .icon
            width: 1.5rem
            height: auto
            padding-right: $spacing-xsm
h5

h4, h5
    display: flex
    align-items: center

@media (min-width: 640px)
    .about
        main

            .about_description
                padding-left: 0
                padding-right: 0
            .contact_info
                display: flex
                .contact
                    display: flex
                    flex-direction: column
                    .contact_title
                    
                        
            .contact_content
                display: flex

                h4

                    text-align: center
                    padding-bottom: $spacing-md
                ul
                    display: flex
                    flex-direction: column
                    flex-grow: 1
                    // gap: $spacing-sm
                    li
                        gap: $spacing-sm
                        // margin-bottom: 10px 

            .location_title
                display: flex
                // justify-content: center
                h4
            .location_map
                height: 220px
