@import "../lib/_variables.sass"
@import "../lib/_mixins.sass"


    
header 
  //@include nav_bar_es
  background-color: white
  z-index: 200
  @include li_nav_bar
  @apply bg-primary-50
        
.nav_bar 
    @apply sticky top-0 left-0




@media (min-width: 150px)          
    
        

@media (max-width: 600px)
    .LangSwitcher
        width: 100%
        display: flex
        justify-content: center
    //responsive
    .responsive-hidden 
        display: none !important
        
    .responsive-shown 
        display: block !important

    

    

           


    
   