@import "../lib/_variables.sass"
@import "../lib/_mixins.sass"


@mixin nav_bar 
    @media (max-width: 600px) 
        @include nav_bar_phone
        
    @media (min-width: 601px) 
        @include nav_bar_two_lines
        @include lang_switcher_top_absolute
    
    @media (min-width: 750px)
        @include lang_switcher_menu_relative 

    @media (min-width: 970px) 
        @include nav_bar_one_line

    @media (min-width: 1400px)
        @include nav_bar_one_line_xl

    
header 
  background-color: white
  @include nav_bar
  z-index: 200

  li 
    &.li-selected 
      a 
        border-bottom: $border1 $ca-or-100
        &:hover 
          border-bottom: $border1 $ca-or-100
        
.nav_bar 
  position: fixed
  top: 0
  left: 0




@media (min-width: 150px)         
    .lang_switcher 
        @apply text-gray-600
        margin-left: 2.4rem
        display: flex
        flex-direction: column
        align-items: flex-end
        cursor: pointer
        div
            display: flex
            margin: 3rem 0 0.6rem 0 
            align-items: center
        svg
            margin: 0rem 0.6rem 0 0
        a:last-child
            margin-left: 0.26rem
        

@media (max-width: 600px)
    //responsive
    .responsive-hidden 
        display: none !important
        
    .responsive-shown 
        display: block !important

    

    

           


    
   