@media (min-width: 150px)
    .group_description 
        img
            width:100%
            height:25.6vw
            object-fit: cover
            object-position: 50% 0

@media (min-width: 600px)
    .group_description 
        img
            width: auto
            height: 25rem


@media (min-width: 900px)
    .group_description 
        
        img
            height: 35rem

@media (min-width: 1400px)
    .group_description 
        img
            height: 50rem