@import "../lib/_variables.sass"
@import "../lib/_mixins.sass"
    
@media (min-width: 150px)
    .home
        h3
            @apply text-ca_blue-700
            margin-bottom: 2rem
   
        p
            margin-bottom: 2rem
            width:80%
            @apply text-gray-800
    .group_description 
        //width: 100vw
        img
            width:100%
            height:26.3vw
            object-fit: cover
            object-position: 50% 0
    .award_section 
        display: flex
        flex-direction: row
        background: #fff9e6
        gap: 1rem
        border-radius:24px
        padding: 1rem 2rem 1rem 2rem
        border: 2px $ca-or-100 solid
        @apply text-orange-500
        width:55%
        
        .award_icon 
            font-size: 7rem
            border-radius: 70px
            min-width: 6rem
            height: 6rem
            padding:  1.5rem
            background: #ffe489
            border-radius:80px
            @apply text-orange-400
            @include drop-shadow-lighter
        .award_card 
            display: flex
            flex-direction: row
            align-self: center
            align-items: center
            h3
                @apply text-slate-600
                margin-bottom: 0.6rem   
            h5
                @apply text-gray-600
                font-weight: 500
                margin-bottom: 0.5rem   
            small
                @apply  text-slate-400
                padding-bottom: 1rem
                display: block
               

        .award_card_text 
          padding: 0 0 0 1rem
        


@media (min-width: 600px)
    .group_description 
        width: 100vw
        img
            width: auto
            height: 25rem
            object-fit: cover
            object-position: 50% 0
@media (min-width: 900px)
    .group_description 
        
        img
            height: 35rem

@media (min-width: 1400px)
    .group_description 
        img
            height: 50rem