.research 
    .main
        min-height: calc(100vh - 150px)
        padding: 5rem 0 0 0
        
        .filters
            text-align: right
            padding: 1rem 5rem 1rem 5rem
            display: flex
            justify-content: flex-end
            flex-wrap: wrap

        .paper
            display: flex

            .paper_date
            .paper_main
                .paper_subtitle
                    @apply text-black
                .paper_doi
                    @apply text-primary
