@import "../lib/_mixins.sass"
@import "../lib/_variables.sass"


@media (min-width: 150px) 
    
    .research 
        .filters
            justify-content: space-between
        .filter
            display: flex
            flex-direction: column
            align-items: start
           
        // .main
        //     min-height: calc(100vh - 150px)
        //     padding: 5rem 0 0 0
        //     background-color: red
        
        .research_results
            //margin-left: 2rem
            font-size: 1.1rem
            display: flex
            flex-wrap: wrap
            min-height: 48px
            align-content: center
            margin-right: 1rem
            b 
                margin-left: 0.4rem
    section 
        gap: $spacing_md

    .load_more 
        padding-top: $spacing_lg
        padding-bottom: $spacing_xl
        display: flex
        justify-content: center

    .filters 
        text-align: left
        display: flex
        flex-wrap: wrap
        padding-bottom: $spacing_sm
        border-bottom: solid 1px $ca-blue-200
        justify-content: left
        .filter
            font-size: 1.1rem
            margin: 0 0.8rem 0.8rem 0
            width: 100%
            label
                display: flex
                width: 100%
                padding-right: 12px
                margin-bottom: 0.4rem
                width: 100%
            select,
            input 
                padding: 5px
                margin-right: 0.3rem
                width: 100%
                height: 32px
                option 
                background-color: white
                border: 1px solid $ca-blue-800
                border-radius: 4px
                background-color: transparent
                font-family: $montserrat
                color: $blue_primary
            #year
                width: 60px
            option 
            text-align: right
        .filter:last-child
            background-color: red
            label
                width: 100px       
    #filter_year
        width: auto
    .papers 
        display: flex
        flex-direction: column
        padding-left: 0px
        .paper 
            padding: $spacing_sm 0 
            display: flex
            flex-direction: column
            border-bottom: $ca-blue-200 1px solid
            
        .paper_main 
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: $spacing_xsm
            .paper_date
                display: flex
                h5
                    @include border-tag
                    display: block
                
            .paper_content


            .paper_title 
                @apply text-black
                h4 
                    font-size: 1.2rem
                    margin-bottom:0.6rem

            .paper_subtitle 
                //padding-bottom: $spacing_md
                @apply text-gray-900
                margin-bottom: $spacing_xsm
            .paper_doi 
                font-weight: 600

        .links 
            display: flex
            flex-direction: row
            //gap: $spacing_xsm
            align-content: center
            justify-content: left
            margin-top: 0.6rem
            
            a 
                @include big-border-button-blue
                display: flex
                align-content: center
                //margin-top: $spacing_sm
            
            p 
                font-weight: 600
            svg
                align-self: center
                margin-left: 0.6rem
@media (min-width: 640px) 
    .research
        .filters
            text-align: right
            display: flex
            flex-wrap: wrap
            gap: 4px
            padding-bottom: $spacing_sm
            border-bottom: solid 1px $ca-blue-100
            justify-content: space-between
            .filter
                display: flex
                flex-direction: row
                align-items: center
                font-size: 1.3rem
                margin: 0
                height: 42px
                width: auto
                label
                    display: inline-block
                    width: 100px
                    padding-right: 12px
                input
                    width: 200px
            .research_results
                font-size: 1.3rem
    .papers 
        display: flex
        flex-direction: column
        gap: $spacing_xsm
        display: flex
        flex-direction: column
        padding: $spacing_xsm 0 $spacing_sm 0
        .paper 
            padding: 6px 0 $spacing_sm 0
       


        .paper_main 
            display: flex
            flex-direction: row
            justify-content: left
            gap: $spacing_md
            .paper_date
                h5
                    @include border-tag
                
            .paper_content 
                width:100%


            .paper_title 
                @apply text-black

            .paper_subtitle 
                //padding-bottom: $spacing_md

            .paper_doi 
                font-weight: 600

        .links 
            
            display: flex
            flex-direction: row
            //gap: $spacing_xsm
            align-content: flex-end
            justify-content: flex-end
            flex-wrap: wrap
            margin: 0
            p 
                font-weight: 600
                margin: 0
            a
                display: flex

@media (min-width: 900px)
    .filters       
        .filter      
            label
                width: auto !important
    .papers
        .paper
            .paper_main
                .paper_content 
                    width:70%