@import '../lib/_variables.sass'
    
.article
    display: flex
    .article_border
    .article_content
        display: flex
        flex-direction: column
        .article_title
            font-weight: $bold
        