@import '../lib/_variables.sass'
@import "../lib/_mixins.sass"


._recent_publications
    height: fit-content

    .load_ 
            padding-top: $spacing_sm
            padding-bottom: 0
            display: flex
            justify-content: center
            a
                .more 
                    @apply bg-ca_blue-50 text-ca_blue-600 w-fit border-ca_blue-600 border-solid border-2
                    padding: 0.7rem 0.9rem
                    border-radius: 9999px
                    font-weight: 500
                    font-size: 1.1rem
                    transition: background-color 200ms ease-in-out
                    font-weight: 600
                    &:hover
                        @apply text-white bg-ca_blue-600 border-ca_blue-700  border-solid border-2
                        cursor: pointer 
                        font-weight: 600
    
  


.article
    @apply bg-ca_blue-100
    @apply mb-4 sm:mb-0 p-8 md:p-6 hover:shadow-lg transition-shadow
    border-radius: 8px
    display: grid
    grid-template-rows:  1fr auto
    align-items: left
    justify-content: space-between
    height: 100%
    &:hover
        transition: 200ms ease-in-out
        
    .article_content
      
        @apply flex flex-col justify-between gap-4
        .article_date
            @apply flex
            span
                @include border-tag
                @apply text-ca_blue-600 border-2 border-ca_blue-600
                display: block
                font-size: 14px

        .article_info
            .article_title
                @apply text-black 
                font-weight: $bold
            .author
                
                font-weight: $regular

// este código está duplicado en publications.
//habría que ver si se puede convertir en otro mixin
.paper_link      
    @include icon-button-left 
    @include button    
    display: flex
    flex-direction: row
    align-content: flex-end
    justify-content: flex-end
    margin-top: 0.6rem        
    a 
        @include big-border-button-blue
        display: flex
        align-content: center