@import '../lib/_variables.sass'
@import "../lib/_mixins.sass"

._recent_publications
    a 
        height: 100%

.more
    // grid-column: 3 / span 2
    // grid-row: 6 / span 1
    display: flex
    width: fit-content
    align-items: right
    justify-content: right


.article
    transition: 200ms ease-in-out
    height: 260px
    // @apply flex flex-col min-h-[260px]
    @apply bg-primary-50
    &:hover
        transition: 200ms ease-in-out
        @apply bg-primary-300

    .article_stroke.color-orange
        border: 4px solid $ca-or-300

    .article_stroke.color-yellow
        border: 4px solid $ca-or-100

    .article_stroke.color-purple
        @apply border-t-[7px] border-solid border-primary

    .article_content
        @apply px-4 py-8 h-full
        @apply flex flex-col justify-between gap-4
        @apply text-gray-800
        .article_date
            @apply flex
            small
                @include border-tag

        .article_info
            .title
                font-weight: $bold
            .author
                font-weight: $regular

// este código está duplicado en publications.
//habría que ver si se puede convertir en otro mixin
.paper_link      
    @include icon-button-left 
    @include button    
    @apply flex justify-end items-center text-center
    margin-top: .5rem        
    a 
        @include big-border-button-blue
        display: flex
        align-content: center