@import "partials/_courses.sass";
@import "partials/_headermenu.sass";
@import "partials/_contact.sass";
@import "partials/_projects.sass";
@import "partials/_publications.sass";
@import "partials/_team.sass";
@import "partials/_tools.sass";
@import "partials/_footer.sass";
@import "partials/_banner.sass";
@import "partials/_recentPublications.sass";
@import "partials/_home.sass";
@import "lib/_responsive.sass";
@import "lib/_type.sass";
@import "lib/_variables.sass";
@import "lib/_mixins.sass";

* {
  //  border: 1px solid pink
}

// PRUEBA GRID, BORRAR

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 20px;
  grid-row-gap: 10px;
  grid-column-gap: 16px;
}

.card {
  grid-row-end: span 10;
  margin-bottom: 10px;
}

/* ==========================================================================
    VARIABLES
   ========================================================================== */

/* =========================================================================
TYPOGRAPHY
 ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
// import montserrat
// import new sans serif;

/* ==========================================================================
    ESTRUCTURA SEGÚN IDIOMA
   ========================================================================== */
.page_es,
.page_es-ES {
  header {
    @include nav_bar_es;
  }
  @include content_page_es;
}

.page_en {
  header {
    @include nav_bar_en;
  }
  @include content_page_en;
}

/* ==========================================================================
    GENERAL
   ========================================================================== */

* {
  // border: .2px solid pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: lighten($color: $blue-primary, $amount: 20);
  }
}

body,
html {
  @apply bg-primary-50;
  color: black;
  @apply text-primary w-full overflow-x-hidden;
  font-size: 12px;
  font-family: $montserrat;
  // margin: 0 auto;
  scroll-behavior: smooth;
  & > * {
    text-wrap: balance; // equilibra los párrafos evitando viudas
  }
  background-color: $ca_blue-50;
}
section {
  @media (min-width: 150px) {
    margin-bottom: 1.2rem;
  }
  @media (min-width: 640px) {
    margin-bottom: 1.7rem;
  }
  @media (min-width: 1200px) {
    margin-bottom: 2rem;
  }
}
button {
  @include button;
}

/*---- Scroll Bar ----*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color: $black, $amount: 10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ==========================================================================
 HOME
 ========================================================================== */

.home_page {
  .border_nav_bar {
    border-bottom: solid 1.5px lighten($color: $black, $amount: 80);
    transition: none;
  }
}
.nav_bar {
  li:not(:last-child) {
    // &.li-selected {
    //   a {
    //     border-bottom: $border1;

    //     &:hover {
    //       border-bottom: $border1;
    //     }
    //   }
    // }

    a {
      &:hover {
        border-bottom: $border2 #ffe685;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}

.home {
  //margin: 8rem 4rem 0 4rem;

  h1 {
    font-weight: 500;
  }

  .head {
    display: flex;
    justify-content: space-between;
    // border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
    //padding: 6rem 6rem 2rem 0rem;

    .group_logo {
      display: inline-block;
      // width: 20%;
      object-fit: contain;
      object-position: left;
      text-align: center;
      vertical-align: middle;
      position: relative;

      img {
        width: 100%;
        size: auto;
      }

      .group_name {
        font-family: $helvetica;
        font-weight: bold;
        font-size: 3rem;
        color: white;
        line-height: 3.35em;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    // width: 100%;

    .carousel {
      display: inline-block;
      width: 95%;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .our_goals {
      .text_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing_sm;

        .title_text {
          width: 50%;
        }
      }
    }

    .bullet_elements {
      display: flex;
      flex-direction: row;
      gap: 8rem;
      font-weight: 600;
      padding-bottom: 0 !important;
      @apply p-0 md:p-12;

      .bullet_element {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $ca_or-300;
        border-top-left-radius: 10rem;
        border-top-right-radius: 10rem;
        width: 280px;
        min-height: 400px;
        padding: 4rem 2rem 2rem;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.2rem;
          width: 100%;
          height: 50%;
        @apply bg-ca_orange-50;
          border-radius: 0%;
          z-index: 1;
        }
      }

      h4 {
        margin-top: 1rem;
        color: $ca_blue-600;
        text-align: center;
        z-index: 2;
        &:hover {
          text-decoration: underline;
        }
      }

      .letter {
        font-family: $montserrat-alternates;
        font-weight: $bold;
        color: $ca_blue-600;
        background-color: $ca_blue-50;
        padding: 1rem 2rem;
        border-radius: 20rem;
        z-index: 2;
      }
      .icono {
        font-size: 4rem;
        padding: 3rem;
        z-index: 2;
      }
    }
  }

  // .grid_container {
  //   width: 100%;
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: auto auto;
  //   gap: 10px;
  //   .grid_item {
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     color: white;
  //     padding: 2rem 2.6rem;
  //     border-radius: 8px;
  //     background: linear-gradient(30deg, rgba(83, 64, 255, 0.9) 0%, rgba(111, 199, 255, 0.9) 100%);
  //   }
  // }
  .grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 1rem;

    .grid_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      padding: 2rem;
      border-radius: 12px;
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 1.5;
      transition: transform 0.2s ease-in-out;
      background: linear-gradient(30deg, #5360ff 0%, #6fc7ff 100%);
    }

    .lightblue {
      background: #6e76ff;
    }
    .darkblue {
      background: #3b07c9;
    }
    .purple_gradient {
      background: linear-gradient(45deg, #4f1be4 0%, #6e76ff 100%);
    }

    .orange_gradient {
      background: linear-gradient(30deg, #ff7b00 0%, #ffca00 100%);
    }
  }

  /* Media query for small screens */
  @media (max-width: 600px) {
    .grid_container {
      display: flex;
      flex-direction: column;
      .grid_item {
        padding: 1.6rem 3.4rem 1.6rem 2rem;
      }
    }

    .bottom_right {
      background: linear-gradient(
        180deg,
        rgba(255, 127, 0, 0.87) 0%,
        rgba(133, 90, 186, 0.93) 70%
      );
      grid-column: span 1;
    }
  }
}

/* ==========================================================================
 BANNER TÍTULOS
 ========================================================================== */
.banner {
  h2 {
    color: white !important;
  }
}

/* ==========================================================================
 PROJECTS
 ========================================================================== */

.projects {
  background-color: #f5f8ff;
  //padding: 5rem 0 0 0;

  main {
    margin: 2.5rem auto;
    .our_projects {
      .project {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
        padding: 6rem 2rem 6rem 5rem;

        .project_logo {
          width: 10%;
          margin: 0.8rem 0 0 0;
          filter: brightness(0) invert(1);
          -webkit-filter: brightness(0) invert(1);

          img {
            object-fit: contain;
            object-position: top;
            width: 100%;
            height: 100%;
          }
        }

        .project_main {
          width: 70%;

          h2 {
            font-weight: bold;
          }

          a {
            color: inherit;

            &:hover {
              h2,
              h3 {
                color: pink;
                transition: 0.5s;
              }
            }
          }
        }

        &:last-child {
          // border: none;
        }
      }
    }
  }

  .border_nav_bar {
    border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
    transition: none;
  }

  /*---- Scroll Bar ----*/
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* ==========================================================================
 TOOLS
 ========================================================================== */

.tools {
  background-color: white;

  .nav_bar {
    background-color: inherit;
    color: inherit;

    .imagotype {
      .isotype {
        background-color: white;
      }

      .logotype {
        font-weight: $bold;
        text-decoration: none;
      }
    }
  }

  main {
    .our_tools {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .tool_main {
        width: 70%;

        h3 {
          font-size: nth($body-text, 1);
          font-weight: $slim-weight;
        }

        .button_container {
          display: flex;
          justify-content: flex-end;
        }
      }

      &:last-child {
        // border: none;
      }
    }
  }

  .border_nav_bar {
    border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
    transition: none;
  }

  /*---- Scroll Bar ----*/
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: pink;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* ==========================================================================
 RESEARCH
 ========================================================================== */
.research {
  main {
    display: flex;
    flex-direction: column;
    //background-color: red;
  }
}

.research {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca_blue_600;

        &:hover {
          border-bottom: $border1 $ca_blue_600;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.courses {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca_blue_300;

        &:hover {
          border-bottom: $border1 $ca_blue_300;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.about {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca-or-200;

        &:hover {
          border-bottom: $border1 $ca-or-200;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.tools {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca-or-300;

        &:hover {
          border-bottom: $border1 $ca-or-300;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.team {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca-blue-500;

        &:hover {
          border-bottom: $border1 $ca-blue-500;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.projects {
  color: inherit;
  li {
    &.li-selected {
      a {
        border-bottom: $border1 $ca-or-100;

        &:hover {
          border-bottom: $border1 $ca-or-100;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

/* =========================================================================
LINKS
 ========================================================================== */

a {
  text-decoration: none;
  color: inherit;

  // &:visited {
  //   color: inherit;
  // }
}

/* &::selection {
      background-color: red;
  }*/

ul {
  list-style: none;
}

/* =========================================================================
RESPONSIVE
 ========================================================================== */

@media (max-width: 950px) {
  .home {
    //margin: 0 2rem 0 2rem;

    .group_logo {
      width: 20%;
      height: 10%;
      border-radius: 50%;
    }

    .body {
     
      .bullet_elements {
        gap: 3rem;
        padding: 2rem;
        .bullet_element {
          width: 22rem;

          &::after {
            content: "";
            @apply bg-ca_orange-50;
            bottom: -0.2rem;
            width: 100%;
            height: 51%;
          }
        }
      }
    }
  }

  .projects {
    main {
      .our_projects {
        padding: 3.5rem 0 0 0;

        .project {
          padding: 3rem 1rem 3rem 3rem;

          h2 {
            font-size: 4rem;
          }

          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

//MÓVIL MEDIA QUERY
@media (max-width: 650px) {
  .home {
    .head {
      display: flex;
      flex-flow: column;
      align-items: center;

      .group_description {
        padding: 2rem 0 0 0rem;
        width: 100%;
      }
    }

    .body {
      .carousel {
        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }

      .latest_publications {


        p {
          padding: 0;
        }
      }
      .bullet_elements {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: 600;
        align-items: center;
        padding-bottom: 0;
      }
    }
  }

  .projects {
    main {
      .our_projects {
        padding: 3.5rem 0 0 0;

        .project {
          flex-flow: column;
          padding: 2rem 1rem 2rem 2rem;

          h2 {
            font-size: 1.6rem;
          }

          h3 {
            font-size: 1.2rem;
          }

          .project_logo {
            width: 40%;
            padding-bottom: 2rem;
            align-self: center;
          }

          .project_main {
            width: 100%;
            display: flex;
            flex-flow: column;

            .project_title {
              padding: 1rem 0rem 1rem 0rem;
            }
          }
        }
      }
    }
  }

  .team {
    main {
      .teammates {
        padding-top: 2rem;

        .teamgrouptitle {
          padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;

          h2 {
            margin-left: 20px;
            font-size: 2rem;
          }
        }

        .teammate {
          // padding: 3rem 2rem 3rem 2rem;

          .mate_info {
            width: 95%;
          }

          h2 {
            font-size: 1.6rem;
          }

          h3 {
            padding: 2rem 0rem 1rem 0rem;
            font-size: 1.6rem;
          }

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .background {
    .circle {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      background-color: pink;
      position: absolute;
      top: 35%;
      left: 60%;
    }

    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 120.5px 188.9px 98.5px;
      border-color: transparent transparent #fccd05 transparent;
      position: absolute;
      top: -18%;
      left: -4%;
      transform: rotate(85deg);
    }

    .rectangle {
      width: 20rem;
      height: 6rem;
      background-color: #17e9e0;
      position: absolute;
      top: 140%;
      left: 20%;
      transform: rotate(-40deg);
    }
  }
}

body :not(.menu) a {
  &:hover {
    text-decoration: none;
  }
}
